// Colours from Solarized.
$blue: #268bd2;
$indigo: #6c71c4;
$purple: #6c71c4;
$pink: #d33682;
$red: #dc322f;
$orange: #cb4b16;
$yellow: #b58900;
$green: #859900;
$teal: #2aa198;
$cyan: #2aa198;

// Additional colours from Solarized.
$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;

$white: #ffffff;

$blur: 0.3vw;

body {
  margin: 10%;
  background: $base03;
  color: $base2;
  text-shadow: 0 0 $blur $base2;
  font-family: monospace;
  font-size: max(3vh, 1em);
  @media (orientation: portrait) {
    font-size: max(3vw, 1em);
  }

  // Scanlines adapted from https://codepen.io/lbebber/pen/XJRdrV
  &::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
      rgba(0, 0, 0, 0) 50%,
      transparentize($base03, 0.9) 50%
    );
    z-index: 2;
    background-size: 100% 3px, 3px 100%;
    pointer-events: none;
  }
}

a {
  color: $blue;
  text-shadow: 0 0 $blur $blue;
  &:hover {
    color: lighten($blue, 33%);
    text-shadow: 0 0 $blur lighten($blue, 33%);
  }
}

h1,
h2,
h3 {
  font-size: 1em;
  text-decoration: underline;
}

h1 {
  text-transform: uppercase;
  color: lighten($yellow, 33%);
  text-shadow: 0 0 $blur lighten($yellow, 33%);
}
h2 {
  color: $green;
  text-shadow: 0 0 $blur $green;
}
h3 {
  color: $cyan;
  text-shadow: 0 0 $blur $cyan;
}

input {
  background: inherit;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  border-width: 0;
  padding: 0 0.5em;
  margin: 0;
  color: lighten($green, 33%);
  border: 2px solid lighten($green, 33%);
  text-shadow: 0 0 $blur lighten($green, 33%);
}
