// Colours from Solarized.
$blue: #268bd2;
$indigo: #6c71c4;
$purple: #6c71c4;
$pink: #d33682;
$red: #dc322f;
$orange: #cb4b16;
$yellow: #b58900;
$green: #859900;
$teal: #2aa198;
$cyan: #2aa198;

// Additional colours from Solarized.
$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;

$white: #ffffff;

$blur: 0.3vw;
$backgroundColor: $base03;
$foregroundColor: $base2;
$linkColor: $blue;
$linkHoverColor: lighten($linkColor, 33%);
$heading1Color: lighten($yellow, 33%);
$heading2Color: $green;
$heading3Color: $cyan;
$textInputColor: lighten($green, 33%);
$submitInputForegroundColor: $backgroundColor;
$submitInputHoverForegroundColor: $backgroundColor;
$submitInputBackgroundColor: lighten($green, 33%);
$submitInputHoverBackgroundColor: lighten($submitInputBackgroundColor, 33%);

body {
  margin: 10%;
  background: $backgroundColor;
  color: $foregroundColor;
  text-shadow: 0 0 $blur $foregroundColor;
  font-family: monospace;
  font-size: max(3vh, 1em);
  @media (orientation: portrait) {
    font-size: max(3vw, 1em);
  }

  // Scanlines adapted from https://codepen.io/lbebber/pen/XJRdrV
  &::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
      rgba(0, 0, 0, 0) 50%,
      transparentize($backgroundColor, 0.9) 50%
    );
    z-index: 2;
    background-size: 100% 3px, 3px 100%;
    pointer-events: none;
  }
}

a {
  color: $linkColor;
  text-shadow: 0 0 $blur $linkColor;
  &:hover {
    color: $linkHoverColor;
    text-shadow: 0 0 $blur $linkHoverColor;
  }
}

h1,
h2,
h3 {
  font-size: 1em;
  text-decoration: underline;
}

h1 {
  text-transform: uppercase;
  color: $heading1Color;
  text-shadow: 0 0 $blur $heading1Color;
}
h2 {
  color: $heading2Color;
  text-shadow: 0 0 $blur $heading2Color;
}
h3 {
  color: $heading3Color;
  text-shadow: 0 0 $blur $heading3Color;
}

input {
  background: inherit;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  border-width: 0;
  padding: 0 0.5em;
  margin: 0;
  &[type="text"] {
    color: $textInputColor;
    border: 2px solid $textInputColor;
    text-shadow: 0 0 $blur $textInputColor;
    box-shadow: 0 0 $blur $textInputColor;
  }
  &[type="submit"] {
    background: $submitInputBackgroundColor;
    border: 2px solid $submitInputBackgroundColor;
    color: $submitInputForegroundColor;
    text-shadow: 0 0 $blur $submitInputForegroundColor;
    box-shadow: 0 0 $blur $submitInputForegroundColor;
    &:hover {
      background: $submitInputHoverBackgroundColor;
      border: 2px solid $submitInputHoverBackgroundColor;
      color: $submitInputHoverForegroundColor;
      text-shadow: 0 0 $blur $submitInputHoverForegroundColor;
      box-shadow: 0 0 $blur $submitInputHoverForegroundColor;
    }
  }
}

ul {
  list-style: none;
  padding: 0;
  li::before {
    content: "* ";
  }
}
