[MASTER]
load-plugins = pylint.extensions.mccabe

[BASIC]
const-rgx = (([A-Z_][A-Z0-9_]*)|(__.*__)|(app|sentry|logger))$
docstring-min-length = 3

[REPORTS]
output-format = colorized

[FORMAT]
max-line-length = 80
max-module-lines = 250

[DESIGN]
min-public-methods=0
