[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
blinker = "*" # Required for signal support in Flask
pytz = "*"
python-dateutil = "*"
gunicorn = "*"
raven = {extras = ["flask"],version = "*"}
flask-sslify = "*"
python-dotenv = "*"
flask-accept = "*"

[dev-packages]
pydocstyle = "*"
pylint = "*"
nose = "*"
behave = "*"
ipython = "*"
black = "==18.9b0"
coverage = "*"
