[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
blinker = "*" # Required for signal support in Flask
pytz = "*"
python-dateutil = "*"
gunicorn = "*"
raven = {extras = ["flask"], version = "*"}
# Installing flask-sslify directly from GitHub due to
# https://github.com/kennethreitz/flask-sslify/issues/50.
flask-sslify = {git = "git://github.com/kennethreitz/flask-sslify.git", editable = true, ref = "9b21aeb", version="0.1.6-dev"}

[dev-packages]
pycodestyle = "*"
pydocstyle = "*"
pylint = "*"
nose = "*"
behave = "*"
codecov = "*"

[pipenv]
allow_prereleases = true
