pip-tools
pycodestyle
pydocstyle
pylint
pylint-flask
nose
behave
flask
blinker     # Required for signal support in Flask
pytz
python-dateutil
gunicorn
raven[flask]
piprot
codecov

# Installing flask-sslify directly from GitHub due to
# https://github.com/kennethreitz/flask-sslify/issues/50.
-e git://github.com/kennethreitz/flask-sslify.git@9b21aeb#egg=flask-sslify
