<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" version="-//W3C//DTD XHTML 1.1//EN" xml:lang="en">
<head>
	<title>Error</title>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-17804501-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>

<body id="unixtimesta-mp">
	
<div id="content">
	<h1>An Unexpected Error Occurred</h1>
	<p>Please hit the back button and try again.</p>
	<table>
		<caption>Error Details</caption>
		<tbody>
			<tr><th scope="row">Message</th><td>{message}</td></tr>
			<tr><th scope="row">Exception Class</th><td><code>{class}</code></td></tr>
			<tr>
				<th scope="row">Stack Trace</th>
				<td>
					<table>
						<caption>Stack Trace</caption>
						<thead>
							<tr>
								<th scole="col">Function</th>
								<th scope="col">Location</th>
							</tr>
						</thead>
						<tbody>
						<!-- startBlock(stack) -->
							<tr>
								<td><code>{function}</code></td>
								<td>{file} ({line})</td>
							</tr>
						<!-- emptyBlock(stack) -->
							<tr>
								<td colspan="2">no stack trace available</td>
							</tr>
						<!-- endBlock(stack) -->
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	
	
	<table>
		<caption>Log Messages</caption>
		<tbody>
			<tr>
				<th scope="col">Level</th>
				<th scope="col">Message</th>
				<th scope="col">Time</th>
			</tr>
			<!-- startBlock(log) -->
				<tr>
					<td>{level}</td>
					<td>{message}</td>
					<td>{time}</td>
				</tr>
			<!-- emptyBlock(log) -->
				<tr>
					<td colspan="3">no log messages</td>
				</tr>
			<!-- endBlock(log) -->
		</tbody>
	</table>
	
</div>

</body>
</html>