<table id="log">
	<caption>Log</caption>
	<thead>
		<tr>
			<th scope="col">Log Level</th>
			<th scope="col">Message</th>
			<th scope="col">Time</th>
		</tr>
	</thead>
	<tbody>
	<!-- startBlock(log) -->
		<tr>
			<td>{level}</td>
			<td><pre>{message}</pre></td>
			<td>{date:time:H:i:s}</td>
		</tr>
	<!-- emptyBlock(log) -->
		<tr>
			<td colspan="3">no log available</td>
		</tr>
	<!-- endBlock(log) -->
	</tbody>
</table>